 body {
  margin:1% 4% 1% 4%;
  font-family: 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ss-head{
  text-align: center;
  color: rgb(27, 30, 35);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
